<nav class="navbar navbar-light bg-light justify-content-between px-3">
  <%# <a class="navbar-brand">Simple Airbnb</a> %>
  <%= link_to 'Simple Airbnb', flats_path, class: 'navbar-brand' %>
  <form class="form-inline">
    <%# <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> %>
    <%= link_to 'Add Flat', new_flat_path, class: 'btn btn-outline-primary my-2 my-sm-0' %>
  </form>
</nav>
